@import "defaults";

.clock {
  width: 40rem;
  height: 40rem;
  border: #000 solid 2rem;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 20rem;
    background: #000;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%) rotate(180deg);
  }

  &__face {
    background: rgba(255, 255, 255, .6);
    height: 100%;
    border-radius: 50%;
    position: relative;

    &__second {
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: left center;
      transform: translateY(-50%) rotate(270deg);
      width: 50%;
      height: 1rem;
      background: red;
    }

    &__minute {
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: left center;
      transform: translateY(-50%) rotate(270deg);
      width: 40%;
      height: 1rem;
      background: red;
    }

    &__hour {
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: left center;
      transform: translateY(-50%) rotate(270deg);
      width: 25%;
      height: 1rem;
      background: red;
    }
  }
}